<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>{% block title %}Salon J'adore {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'salon/css/bootstrap4-beta-2.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Navigation Bar -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-danger">
        <a class="navbar-brand" href="/salon/"><img src="{% static 'salon/images/icons/jadore-icon-small.png' %}" width="35" height="35" ></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/salon/about/">Inhouse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/salon/blog/">Blog</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/salon/user/{{ user }}">Profile</a>
            </li>
            {% endif %}
          </ul>
          <form method="GET" action="/salon/search/" class="form-inline mt-2 mt-md-0">
            {% csrf_token %}
            <input type="text" name="searchquery" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
          </form>
          <div style="padding: 20px;"></div>
          {% if user.is_authenticated %}
          <a class="text-white">Welcome, {{ user }}</a>
          <div style="padding: 5px;"></div>
          <div style="padding: 5px;"></div>
          <a href="/salon/logout/">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Logout</button> 
          </a>
          {% else %}
          <a href="/salon/login/">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Login</button> 
          </a>
          <div style="padding: 5px;"></div>
          <a href="/salon/register/">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Register</button>  
          </a>
          {% endif %}
        </div>
      </nav>  
    </header>
    

    <!-- Side and Main Pane -->
    <div class="container-fluid">
      <div class="row">

        <!-- Side Pane -->
        <nav class="col-sm-3 col-md-2 d-sm-block bg-light" style="border-right: 1px solid #eee">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a class="nav-link" style="font-size: 20px;">Services we offer</a>    
            </li>

            {% for service_type in service_types %}
            <li class="nav-item">
              <a class="nav-link" href="/salon/services/{{ service_type.name }}"><strong>{{ service_type.name }}</strong></a>     
            </li>
            {% endfor %}
            
            <li class="nav-item">
              <a class="nav-link"></a>    
            </li>
          </ul>
        </nav>
        
        <!-- Main Pane -->
        <div class="container bg-white col">
          {% block body_block %}
          {% endblock %}
        </div>

      </div>

      <!-- Links Pane -->
      <div class="row bg-white" style="padding: 5px;">
          <div class="col bg-dark" style="text-align: center;">
              <a class="nav-link" href="http://www.facebook.com" target="_blank">
                <img src="{% static 'salon/images/icons/facebook-icon.png' %}" alt="Facebook" height="50" width="50" />
              </a>
          </div>
          <div class="col bg-primary" style="text-align: center;">
              <a class="nav-link" href="http://www.twitter.com" target="_blank">
                <img src="{% static 'salon/images/icons/twitter-icon.png' %}" alt="Twitter" height="50" width="50">
              </a>
          </div>
          <div class="col bg-secondary" style="text-align: center;">
              <a class="nav-link" href="http://www.instagram.com" target="_blank">
                <img src="{% static 'salon/images/icons/insta_icon.png' %}" alt="Instagram" height="50" width="50">
              </a>
          </div>
      </div>
    </div>

    <!-- Footer -->
    <hr>
    <footer>
      <div class="container">
        <p>&copy; <a href="">SamO Media PLC</a> </p>
      </div>
    </footer>

    <script type="text/javascript" src="{% static 'salon/js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'salon/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'salon/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'salon/js/salon-ajax.js' %}"></script>
  </body>
</html>