<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>Salon J'adore</title>
    <link rel="stylesheet" type="text/css" href="{% static 'salon/css/bootstrap.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <!-- Navigation Bar -->
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-danger">
        <a class="navbar-brand" href="#">Base</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">User</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            
            <input type="text" name="" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            <span style="padding: 20px;"></span>

            <a href="">
              <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Login</button> 
            </a>
                  
                  <span style="padding: 5px;"></span>

                  <a href="">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" href="">Register</button>  
                  </a>
                  
              </form>
        </div>
      </nav>  
    </header>
    

    <!-- Side and Main Pane -->
    <div class="container-fluid">
      <div class="row">

        <!-- Side Pane -->
        <nav class="col-sm-3 col-md-2 d-sm-block bg-light" style="border-right: 1px solid #eee">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a class="nav-link" href=""></a>    
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><strong>SideBar L1</strong></a>     
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><strong>SideBar L2</strong></a>     
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><strong>SideBar L3</strong></a>     
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""><strong>SideBar L4</strong></a>     
            </li>
            <li class="nav-item" >
              <a class="nav-link" href=""></a>    
            </li>
          </ul>
        </nav>
        
        <!-- Main Pane -->
        <div class="container bg-light col">
          {% block body_block %}
          {% endblock %}
        </div>

        <!-- Links Pane -->
        <nav class="col-md-1 d-sm-block bg-light" style="border-left: 1px solid #eee">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item" >
              <a class="nav-link"></a>    
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.facebook.com" target="_blank">
                <img src="{% static 'salon/images/facebook-icon.png' %}" alt="Facebook" height="50" width="50" />
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link"></a>    
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <img src="{% static 'salon/images/insta_icon.png' %}" alt="Instagram" height="50" width="50">
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link"></a>    
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                <img src="{% static 'salon/images/twitter-icon.png' %}" alt="Twitter" height="50" width="50">
              </a>
            </li>
            <li class="nav-item" >
              <a class="nav-link"></a>    
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <!-- Footer -->
    <hr>
    <footer>
      <div class="container">
        <p>&copy; <a href="">SamO Media PLC</a> </p>
      </div>
    </footer>

    <script type="text/javascript" src="{% static 'salon/js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'salon/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'salon/js/bootstrap.min.js' %}"></script>
  </body>
</html>