{% extends 'salon/base.html' %}
{% block body_block %}
	<div class="container-fluid">
		<h1 class="text-center">Index Page</h1>
		<div class="row bg-secondary">
			<nav class="col-sm-3 bg-light">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="">Link1</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Link2</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="">Link3</a>
					</li>
				</ul>
			</nav>
			<div class="col text-center">
				<h1>Index Page</h1>				
			</div>
			<div class="col bg-light">
				
			</div>
		</div>
	</div>
{% endblock %}